
<IfModule mod_rewrite.c>
RewriteEngine On
DirectoryIndex index.php

RewriteRule ^adjustment api/adjustment.php
RewriteRule ^stocks api/stocks.php
RewriteRule ^logs/([^/\.]+)/?$ api/logs.php?request=$1 [L]

Options All -Indexes
</IfModule>


